
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin-top: 50px;
    }

    form {
        width: 350px;
        margin: auto;
        padding: 20px;
        border: 2px solid #333;
        border-radius: 10px;
        background-color: white;
    }

    input {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #666;
        border-radius: 5px;
    }

    button {
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
    }

    h1 {
        color: #333;
    }

   
   
.patient-list {
    border: 2px solid black;
    padding: 0;
    margin-top: 10px;
}

.patient-list div {
    border-bottom: 1px solid black;
    padding: 10px;
}

.patient-list div:last-child {
    border-bottom: none;
}